@use "./base.scss";

// put your custom CSS here!

// ::selection {
// 	background: var(--textHighlight);
// 	color: inherit;
// }
// 
// .content-meta span:first-child {
// 	display: none;
// }
// 
// body[data-slug$="index"] .content-meta {
// 	display: none;
// }
// 
// body[data-slug^="commentaries/"] .content-meta span:first-child,
// body[data-slug^="essays/"] .content-meta span:first-child,
// body[data-slug^="newsletters/"] .content-meta span:first-child,
// body[data-slug^="tales/"] .content-meta span:first-child {
// 	display: inline;
// }
// 
// a.internal:not(.transclude-src) {
// 	background: none;
// }
// 
// a.transclude-src {
// 	display: none;
// }
// 
// article > h1 > a[role=anchor] > svg {
// 	width: 22px;
// 	height: 22px;
// }
// 
// article > h2 > a[role=anchor] > svg,
// article > blockquote.transclude h1 > a[role=anchor] > svg {
// 	width: 18px;
// 	height: 18px;
// }
// 
// article > h3 > a[role=anchor] > svg,
// article > blockquote.transclude h2 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude h1 > a[role=anchor] > svg {
// 	width: 14px;
// 	height: 14px;
// }
// 
// article > h4 > a[role=anchor] > svg,
// article > h5 > a[role=anchor] > svg,
// article > h6 > a[role=anchor] > svg,
// article > blockquote.transclude h3 > a[role=anchor] > svg,
// article > blockquote.transclude h4 > a[role=anchor] > svg,
// article > blockquote.transclude h5 > a[role=anchor] > svg,
// article > blockquote.transclude h6 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude h2 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude h3 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude h4 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude h5 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude h6 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude blockquote.transclude h1 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude blockquote.transclude h2 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude blockquote.transclude h3 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude blockquote.transclude h4 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude blockquote.transclude h5 > a[role=anchor] > svg,
// article > blockquote.transclude blockquote.transclude blockquote.transclude h6 > a[role=anchor] > svg {
// 	width: 12px;
// 	height: 12px;
// }
// 
// blockquote.transclude {
// 	border: none;
// 	margin: 0;
// 	padding: 0;
// }
// 
// blockquote.transclude h1:first-child {
// 	display: none;
// }
// 
// blockquote.transclude ol,
// blockquote.transclude ul {
// 	padding-left: revert;
// }
// 
// blockquote.transclude h1 { /* h2 */
// 	margin-top: 1.9rem;
// 	font-size: 1.4rem;
// }
// 
// blockquote.transclude h2,
// blockquote.transclude blockquote.transclude h1 { /* h3 */
// 	margin-top: 1.62rem;
// 	font-size: 1.12rem;
// }
// 
// blockquote.transclude h3,
// blockquote.transclude h4,
// blockquote.transclude h5,
// blockquote.transclude h6,
// blockquote.transclude blockquote.transclude h2,
// blockquote.transclude blockquote.transclude h3,
// blockquote.transclude blockquote.transclude h4,
// blockquote.transclude blockquote.transclude h5,
// blockquote.transclude blockquote.transclude h6,
// blockquote.transclude blockquote.transclude blockquote.transclude h1,
// blockquote.transclude blockquote.transclude blockquote.transclude h2,
// blockquote.transclude blockquote.transclude blockquote.transclude h3,
// blockquote.transclude blockquote.transclude blockquote.transclude h4,
// blockquote.transclude blockquote.transclude blockquote.transclude h5,
// blockquote.transclude blockquote.transclude blockquote.transclude h6 { /* h4, h5, h6 */
// 	margin-top: 1.5rem;
// 	font-size: 1rem;
// }
// 
// body[data-slug="index"] .page-header h1.article-title {
// 	display: none;
// }
// 
// .breadcrumb-element a[href^="../"][href$="/"]::first-letter,
// .breadcrumb-element a[href^="/"][href$="/"]::first-letter,
// .folder-title::first-letter {
// 	text-transform: uppercase;
// }
// 
// .content-meta[show-comma=true] > span:not(:last-child):after {
// 	content: " |";
// }
// 
// h1.page-title {
// 	font-size: 1rem;
// }
// 
// h1.page-title a {
// 	color: var(--dark);
// }
// 
// pre, code {
// 	background-color: var(--highlight);
// }
// 
// pre > code {
// 	overflow-x: auto;
// }
// 
// .search > #search-icon {
// 	background-color: var(--highlight);
// }
// 
// .search > #search-container > #search-space > #search-layout .highlight {
// 	background-color: var(--textHighlight);
// }
// 
// .page .page-header,
// .page > #quartz-body .sidebar {
// 	margin-top: 4rem;
// }
// 
// ul.overflow:after,
// ol.overflow:after {
// 	background: transparent;
// }
// 
// .backlinks > .overflow:first-of-type,
// #explorer-content .overflow:first-of-type,
// #toc-content .overflow:first-of-type {
// 	scrollbar-width: thin;
// 	scrollbar-color: var(--highlight) transparent;
// 	border-right: 1px solid var(--highlight);
// 	margin-bottom: 0;
// }
// .backlinks > .overflow:first-of-type::-webkit-scrollbar,
// #explorer-content .overflow:first-of-type::-webkit-scrollbar,
// #toc-content .overflow:first-of-type::-webkit-scrollbar {
// 	width: 4px;
// 	height: 4px;
// }
// .backlinks > .overflow:first-of-type::-webkit-scrollbar-thumb,
// #explorer-content .overflow:first-of-type::-webkit-scrollbar-thumb,
// #toc-content .overflow:first-of-type::-webkit-scrollbar-thumb {
// 	background-color: var(--highlight);
// }
// .backlinks > .overflow:first-of-type::-webkit-scrollbar-track,
// #explorer-content .overflow:first-of-type::-webkit-scrollbar-track,
// #toc-content .overflow:first-of-type::-webkit-scrollbar-track {
// 	background-color: transparent;
// }
// 
// /* Optimize for 1366x784 */
// /* Probably should be 1349x667, but I can't make that work... */
// /* https://css-tricks.com/screen-resolution-notequalto-browser-window/ */
// #explorer-content .overflow:first-of-type {
// 	max-height: 572px;
// }
// #toc-content .overflow:first-of-type {
// 	max-height: 368px;
// }
// .backlinks > .overflow:first-of-type {
// 	max-height: 315px;
// }
// 
// .backlinks ul.overflow li,
// #explorer-content ul.overflow ul.content ul.content li,
// #toc-content ul.overflow li {
// 	border-bottom: 1px solid var(--highlight);
// 	padding: 0 0.16rem;
// }
// #explorer-content ul.overflow ul.content ul.content li:first-child {
// 	border-top: 1px solid var(--highlight);
// }
// #toc-content ul.overflow li:last-child,
// .backlinks ul.overflow li:last-child {
// 	border-bottom: none;
// }
// 
// #toc-content ul.overflow li.depth-0 {
// 	margin-left: 0;
// }
// #toc-content ul.overflow li.depth-1 {
// 	margin-left: 1rem;
// }
// #toc-content ul.overflow li.depth-2 {
// 	margin-left: 2rem;
// }
// #toc-content ul.overflow li.depth-3 {
// 	margin-left: 3rem;
// }
// #toc-content ul.overflow li.depth-4 {
// 	margin-left: 4rem;
// }
// #toc-content ul.overflow li.depth-5 {
// 	margin-left: 5rem;
// }
// 
// footer {
// 	opacity: 1;
// 	display: flex;
// 	flex-direction: column-reverse;
// 	justify-content: center;
// }
// footer p {
// 	opacity: 0.5;
// 	text-align: center;
// }
// footer ul {
// 	gap: 2rem;
// 	justify-content: center;
// }
// 
// @media (max-width: 1510px) {
// 	.backlinks > .overflow:first-of-type {
// 		max-height: 258px;
// 	}
// 	footer {
// 		margin-bottom: 2rem;
// 	}
// 	footer ul {
// 		margin: 1rem 0 0;
// 	}
// 	h1.page-title {
// 		font-size: 1.45rem;
// 		padding-right: 10px;
// 	}
// 	.page {
// 		padding: 0 2rem;
// 	}
// 	.page > #quartz-body .sidebar.right {
// 		margin-top: 0;
// 	}
// 	.search {
// 		flex-grow: inherit;
// 	}
// }
// 
// @media (max-width: 430px) {
// 	h1.page-title {
// 		font-size: 1.16rem;
// 	}
// 	a[role="anchor"] {
// 		display: none;
// 	}
// }
// 
// @media (max-width: 375px) {
// 	.backlinks > .overflow:first-of-type {
// 		max-height: fit-content;
// 	}
// 	footer {
// 		font-size: smaller;
// 	}
// 	h1.page-title {
// 		font-size: 0.95rem;
// 	}
// }

/*
 * General tweaks
 */
a {
	font-weight: inherit; // TODO: Nake internal background even lighter + also make code background lighter
}

/*
 * Page header
 */
header {
	margin: 1rem 0;
}
header > .breadcrumb-container { // TODO: Make bold
	margin: 0;
}
header > .search {
	min-width: 14rem;
}

/*
 * Page metadata
 */
body[data-slug$="index"] > .content-meta,
body[data-slug$="index"] > .page-header > .tags { // TODO: Not working
	display: none;
}
.content-meta > time {
	display: none;
}
body[data-slug^="journals/"] > .content-meta > time,
body[data-slug^="writings/"] > .content-meta > time { // TODO: Not working
	display: inline;
}
.page-header > .tags { // TODO: Not working
	margin: 1rem 0 1.5rem;
}

/*
 * Graph view widget
 */
.graph > h3 {
	display: none;
}
.graph > .graph-outer {
	margin: 0;
}

/*
 * Folder and tag page
 */
ul.section-ul { // TODO: Use a normal margin?
	padding-left: revert;
	list-style: revert;
}
li.section-li {
	margin-bottom: revert;
}
li.section-li > .section,
li.section-li > .section > .desc {
		display: inline;
}
li.section-li > .section > .meta,
li.section-li > .section > .tags {
	display: none;
}
li.section-li > .section > .desc > h3 {
	font-family: var(--bodyFont);
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6rem;
	display: inline;
}

/*
 * Match callout colors to Obsidian Minimal theme + GitHub alerts
 */
.callout{
	&[data-callout],
	&[data-callout="info"],
	&[data-callout="note"],
	&[data-callout="todo"] {
		--color: #6c99bb;
		--border: #6c99bb44;
		--bg: #6c99bb10;
	}

	&[data-callout="note"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>');
	}

	&[data-callout="abstract"],
	&[data-callout="hint"],
	&[data-callout="summary"],
	&[data-callout="tldr"] {
		--color: #73bbb2;
		--border: #73bbb244;
		--bg: #73bbb210;
	}

	&[data-callout="check"],
	&[data-callout="done"],
	&[data-callout="success"],
	&[data-callout="tip"] {
		--color: #a8c373;
		--border: #a8c37344;
		--bg: #a8c37310;
	}

	&[data-callout="tip"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
	}

	&[data-callout="warning"] {
		--color: #e5b567;
		--border: #e5b56744;
		--bg: #e5b56710;
	}

	&[data-callout="warning"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>');
	}

	&[data-callout="attention"],
	&[data-callout="faq"],
	&[data-callout="help"],
	&[data-callout="question"] {
		--color: #d5763f;
		--border: #d5763f44;
		--bg: #d5763f10;
	}

	&[data-callout="bug"],
	&[data-callout="caution"],
	&[data-callout="danger"],
	&[data-callout="error"],
	&[data-callout="fail"],
	&[data-callout="failure"],
	&[data-callout="missing"] {
		--color: #d04255;
		--border: #d0425544;
		--bg: #d0425510;
	}

	&[data-callout="caution"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-octagon-alert"><path d="M12 16h.01"/><path d="M12 8v4"/><path d="M15.312 2a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2z"/></svg>');
	}

	&[data-callout="example"],
	&[data-callout="important"] {
		--color: #9e86c8;
		--border: #9e86c844;
		--bg: #9e86c810;
	}

	&[data-callout="important"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-warning"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M12 7v2"/><path d="M12 13h.01"/></svg>');
	}

	&[data-callout="cite"],
	&[data-callout="quote"] {
		--color: #9e9e9e;
		--border: #9e9e9e44;
		--bg: #9e9e9e10;
	}
}
