@use "./base.scss";

// put your custom CSS here!

/*
 * Use monochrome Google Noto Emoji
 */
@use "./custom-fonts.scss";
:root {
	--bodyFont: "Noto Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Noto Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	--codeFont: "Noto Sans Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo, monospace, "Noto Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

	--headerFont: var(--bodyFont) !important;
	--titleFont: var(--bodyFont) !important;
}

/*
 * Logo
 */
#svg-logo {
	svg path {
		fill: var(--darkgray) !important;
	}
}

/*
 * General tweaks
 */
:root[saved-theme="light"] {
	--background-alt: #f3eac7; // --bg3
}
:root[saved-theme="dark"] {
	--background-alt: #282828; // --bg2
}
::selection {
	background: var(--highlight);
	color: inherit;
}
a {
	font-weight: inherit;
}
a.internal.tag-link {
	font-weight: bold;
}
article a {
	text-decoration: underline;
}
article a.internal {
	background-color: transparent;
}
article a.internal:hover {
	text-decoration: underline;
}
article a.internal.transclude-src {
	background-color: var(--highlight);
	font-weight: bold;
	text-decoration: none;
	padding: 0.2rem 0.4rem;
}
article h1 a[role=anchor] svg,
article h2 a[role=anchor] svg,
article h3 a[role=anchor] svg,
article h4 a[role=anchor] svg,
article h5 a[role=anchor] svg,
article h6 a[role=anchor] svg {
	width: 0.75em;
	height: 0.75em;
}
code {
	background-color: var(--background-alt);
}
pre {
	background-color: var(--background-alt);
	border-color: transparent;
}
hr {
	background-color: var(--gray);
}

/*
 * Layout
 */
.page {
	max-width: calc(1500px - 320px)
}
.page #quartz-body {
	grid-template: "grid-header grid-sidebar-right""grid-center grid-sidebar-right""grid-footer grid-sidebar-right"/auto 320px;
}
@media (min-width: 800px) and (max-width: 1200px) {
	.page #quartz-body {
		//grid-template: "grid-header grid-sidebar-right""grid-center grid-sidebar-right""grid-footer grid-sidebar-right"/auto 320px;
		grid-template: "grid-header""grid-center""grid-sidebar-right""grid-footer"/auto;
	}
}
@media (max-width: 800px) {
	.page #quartz-body {
		grid-template:"grid-header""grid-center""grid-sidebar-right""grid-footer"/auto;
	}
}
.page #quartz-body .page-header {
	margin-top: 2rem;
}
@media (max-width: 800px) {
	.page #quartz-body .page-header {
		margin-top: 0;
	}
}
.page #quartz-body .sidebar {
	padding-top: 2rem;
}
.page #quartz-body .sidebar.left {
	display: none;
}

@media (not (min-width: 1200px)) {
	.page #quartz-body .sidebar.right {
		flex-direction: column;
	}
}

/*
 * Search
 */
.search {
	max-width: none;
}
.search > .search-button {
	background-color: var(--background-alt);
}
.search .search-container .search-space .search-layout .highlight {
	background-color: var(--textHighlight);
}

/*
 * Page header
 */
.page-header header {
	margin: 1rem 0;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.page-header header .breadcrumb-container {
	margin: 0;
	font-weight: bold;
}

/*
 * Page metadata
 */
.page-header {
	margin-top: 2rem;
}
.page-header .content-meta {
	color: var(--dark);
}
.page-header .content-meta time {
	display: none;
}
.page-header ul.tags {
	margin: 1rem 0 1.4rem;
}

/*
 * Embeds
 */
blockquote.transclude h1 {
	display: none;
}
h2 ~ blockquote.transclude h2 { /* h3 */
	margin-top: 1.62rem;
	margin-bottom: 1rem;
	font-size: 1.12rem;
}
h2 ~ blockquote.transclude h3,
h3 ~ blockquote.transclude h2,
h3 ~ blockquote.transclude h3,
h2 ~ blockquote.transclude h2 ~ blockquote.transclude h2 { /* h4, h5, h6 */
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

/*
 * Page footer
 */
footer a:hover,
.page-footer .backlinks a:hover {
	text-decoration: underline;
}
@media not (min-width: 1200px) {
	.backlinks > .overflow {
		height: auto;
	}
}

/*
 * Graph view widget
 */
.graph h3 {
	display: none;
}
.graph .graph-outer {
	border: 1px solid var(--gray);
	margin: 0;
}

/*
 * Folder and tag page
 */
ul.section-ul {
	margin-top: revert;
	padding-left: revert;
	list-style: revert;
}
li.section-li {
	margin-bottom: revert;
}
li.section-li .section,
li.section-li .section .desc {
		display: inline;
}
li.section-li .section .meta,
li.section-li .section .tags {
	display: none;
}
li.section-li .section .desc h3 {
	font-family: var(--bodyFont);
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6rem;
	display: inline;
}

/*
 * Match callout colors to Obsidian Minimal theme + GitHub alerts
 */
.callout{
	&[data-callout="note"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>');
	}

	&[data-callout="tip"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
	}

	&[data-callout="warning"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>');
	}

	&[data-callout="caution"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-octagon-alert"><path d="M12 16h.01"/><path d="M12 8v4"/><path d="M15.312 2a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2z"/></svg>');
	}

	&[data-callout="important"] {
		--callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-warning"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M12 7v2"/><path d="M12 13h.01"/></svg>');
	}
}
:root[saved-theme="light"] {
	.callout{
		&[data-callout],
		&[data-callout="info"],
		&[data-callout="note"],
		&[data-callout="todo"] {
			--color: #45707a; // --color-blue
			--border: transparent;
			--bg: #45707a22;
		}

		&[data-callout="abstract"],
		&[data-callout="hint"],
		&[data-callout="summary"],
		&[data-callout="tldr"] {
			--color: #4c7a5d; // --color-cyan
			--border: transparent;
			--bg: #4c7a5d22;
		}

		&[data-callout="check"],
		&[data-callout="done"],
		&[data-callout="success"],
		&[data-callout="tip"] {
			--color: #6c782e; // --color-green
			--border: transparent;
			--bg: #6c782e22;
		}

		&[data-callout="warning"] {
			--color: #b47109; // --color-yellow
			--border: transparent;
			--bg: #b4710922;
		}

		&[data-callout="attention"],
		&[data-callout="faq"],
		&[data-callout="help"],
		&[data-callout="question"] {
			--color: #c35e0a; // --color-orange
			--border: transparent;
			--bg: #c35e0a22;
		}

		&[data-callout="bug"],
		&[data-callout="caution"],
		&[data-callout="danger"],
		&[data-callout="error"],
		&[data-callout="fail"],
		&[data-callout="failure"],
		&[data-callout="missing"] {
			--color: #c14a4a; // --color-red
			--border: transparent;
			--bg: #c14a4a22;
		}

		&[data-callout="example"],
		&[data-callout="important"] {
			--color: #945e80; // --color-purple
			--border: transparent;
			--bg: #945e8022;
		}

		&[data-callout="cite"],
		&[data-callout="quote"] {
			--color: #7c6f64; // --tx3
			--border: transparent;
			--bg: #7c6f6422;
		}
	}

	// Adapted from https://github.com/saberzero1/quartz-themes/blob/master/themes/material-gruvbox/_index.scss#L1370
	// Only works when Shiki theme is set to 'github-light'!
	span[style="--shiki-light:#6F42C1;--shiki-dark:#B392F0;"] {
		color: #945e80 !important; // --color-purple
	}
	span[style="--shiki-light:#005CC5;--shiki-dark:#79B8FF;"] {
		color: #45707a !important; // --color-blue
	}
	span[style="--shiki-light:#032F62;--shiki-dark:#9ECBFF;"] {
		color: #4c7a5d !important; // --color-cyan
	}
	span[style="--shiki-light:#032F62;--shiki-dark:#DBEDFF;"] {
		color: #b47109 !important; // --color-yellow
	}
	span[style="--shiki-light:#24292E;--shiki-dark:#E1E4E8;"] {
		color: #4f3829 !important; // --tx1
	}
	span[style="--shiki-light:#586069;--shiki-dark:#D1D5DA;"] {
		color: #654735 !important; // --tx2
	}
	span[style="--shiki-light:#F6F8FA;--shiki-dark:#2F363D;"] {
		color: #7c6f64 !important; // --tx3
	}
	span[style="--shiki-light:#6A737D;--shiki-dark:#6A737D;"] {
		color: #7c6f64 !important; // --tx3
	}
	span[style="--shiki-light:#22863A;--shiki-dark:#85E89D;"] {
		color: #6c782e !important; // --color-green
	}
	span[style="--shiki-light:#E36209;--shiki-dark:#FFAB70;"] {
		color: #c35e0a !important; // --color-orange
	}
	span[style="--shiki-light:#B31D28;--shiki-dark:#FDAEB7;"] {
		color: #ac546e !important; // --color-pink
	}
	span[style="--shiki-light:#D73A49;--shiki-dark:#F97583;"] {
		color: #c14a4a !important; // --color-red
	}
}
:root[saved-theme="dark"] {
	.callout{
		&[data-callout],
		&[data-callout="info"],
		&[data-callout="note"],
		&[data-callout="todo"] {
			--color: #7daea3; // --color-blue
			--border: transparent;
			--bg: #7daea322;
		}

		&[data-callout="abstract"],
		&[data-callout="hint"],
		&[data-callout="summary"],
		&[data-callout="tldr"] {
			--color: #89b482; // --color-cyan
			--border: transparent;
			--bg: #89b48222;
		}

		&[data-callout="check"],
		&[data-callout="done"],
		&[data-callout="success"],
		&[data-callout="tip"] {
			--color: #a9b665; // --color-green
			--border: transparent;
			--bg: #a9b66522;
		}

		&[data-callout="warning"] {
			--color: #d8a657; // --color-yellow
			--border: transparent;
			--bg: #d8a65722;
		}

		&[data-callout="attention"],
		&[data-callout="faq"],
		&[data-callout="help"],
		&[data-callout="question"] {
			--color: #e78a4e; // --color-orange
			--border: transparent;
			--bg: #e78a4e22;
		}

		&[data-callout="bug"],
		&[data-callout="caution"],
		&[data-callout="danger"],
		&[data-callout="error"],
		&[data-callout="fail"],
		&[data-callout="failure"],
		&[data-callout="missing"] {
			--color: #ea6962; // --color-red
			--border: transparent;
			--bg: #ea696222;
		}

		&[data-callout="example"],
		&[data-callout="important"] {
			--color: #d3869b; // --color-purple
			--border: transparent;
			--bg: #d3869b22;
		}

		&[data-callout="cite"],
		&[data-callout="quote"] {
			--color: #a89984; // --tx3
			--border: transparent;
			--bg: #a8998422;
		}
	}
	// Adapted from https://github.com/saberzero1/quartz-themes/blob/master/themes/material-gruvbox/_index.scss#L1370
	// Only works when Shiki theme is set to 'github-dark'!
	span[style="--shiki-light:#6F42C1;--shiki-dark:#B392F0;"] {
		color: #d3869b !important; // --color-purple
	}
	span[style="--shiki-light:#005CC5;--shiki-dark:#79B8FF;"] {
		color: #7daea3 !important; // --color-blue
	}
	span[style="--shiki-light:#032F62;--shiki-dark:#9ECBFF;"] {
		color: #89b482 !important; // --color-cyan
	}
	span[style="--shiki-light:#032F62;--shiki-dark:#DBEDFF;"] {
		color: #d8a657 !important; // --color-yellow
	}
	span[style="--shiki-light:#24292E;--shiki-dark:#E1E4E8;"] {
		color: #ddc7a1 !important; // --tx1
	}
	span[style="--shiki-light:#586069;--shiki-dark:#D1D5DA;"] {
		color: #d4be98 !important; // --tx2
	}
	span[style="--shiki-light:#F6F8FA;--shiki-dark:#2F363D;"] {
		color: #a89984 !important; // --tx3
	}
	span[style="--shiki-light:#6A737D;--shiki-dark:#6A737D;"] {
		color: #a89984 !important; // --tx3
	}
	span[style="--shiki-light:#22863A;--shiki-dark:#85E89D;"] {
		color: #a9b665 !important; // --color-green
	}
	span[style="--shiki-light:#E36209;--shiki-dark:#FFAB70;"] {
		color: #e78a4e !important; // --color-orange
	}
	span[style="--shiki-light:#B31D28;--shiki-dark:#FDAEB7;"] {
		color: #e07883 !important; // --color-pink
	}
	span[style="--shiki-light:#D73A49;--shiki-dark:#F97583;"] {
		color: #ea6962 !important; // --color-red
	}
}

/*
 * Page-specific tweaks
 */
body[data-slug$="index"] .page-header .content-meta,
body[data-slug$="index"] .page-header ul.tags {
	display: none;
}
body[data-slug^="journals/"] .page-header .content-meta time,
body[data-slug^="writings/"] .page-header .content-meta time {
	display: inline;
}
body[data-slug$="index"] article a.internal.tag-link {
	font-weight: inherit;
	background-color: transparent;
}
body[data-slug$="index"] article a.internal.tag-link::before {
	content: "";
}
body[data-slug$="index"] .page-footer .backlinks {
	display: none;
}
