@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;400;500;600;700&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, input, select, textarea {
	font-family: 'Noto Sans', 'Noto Emoji', 'Source Sans Pro', sans-serif;
}

#header .logo .icon:before {
	font-size: 3.5rem;
}
#header .logo .icon.solid:before {
	font-weight: 400; /* Safari work-around; revert to 300 when other font weights are supported */
}

.icon.solid:before {
	font-weight: 400; /* Safari work-around; remove when other font weights are supported */
}

.noto-seedling:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🌱";
}
.noto-box:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "📦";
}
.noto-lizard:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🦎";
}
.noto-shield:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🛡️";
}
.noto-brain:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🧠";
}
.noto-camera:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "📷";
}
.noto-love:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "💑";
}
.noto-at:before {
	font-family: 'Noto Sans';
	content: "@";
}
.noto-home:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🏡";
}
.noto-farcaster:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "⛩️";
}
.noto-bluesky:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🦋";
}
.noto-twitter:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🐦";
}
.noto-linkedin:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "💼"; /* Safari work-around; revert to 🧑‍💻 once joined emoji are properly supported */
}
.noto-flickr:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "📸";
}
.noto-github:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🐙";
}
.noto-keybase:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "🔑";
}
.noto-email:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "📧";
}
.noto-briefcase:before {
	font-family: 'Noto Emoji';
	font-variant-emoji: text; /* Firefox work-around; remove when Noto Emoji is fixed */
	content: "💼";
}

.icon.inline {
	padding: 0 1pt;
}
.icon.inline.solid:before {
	font-weight: normal;
}
